@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Roboto:wght@300&family=Space+Mono&display=swap");

html {
  width: 1440px;
  height: 1832px;
}
body {
  background-image: url(assets\bg-main-desktop.png);
  margin-left: 10rem;
}

.logo {
  display: flex;
}
.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.colors {
  margin-right: 1rem;
  margin-top: 1rem;
  padding-top: 0rem;
}
.words {
  font-family: "IBM Plex Sans", sans-serif;
  margin-right: 40px;
  align-items: center;
}

.words h1 {
  font-size: 88px;
  font-weight: bolder;
  line-height: 88px;
}

.words p {
  line-height: 34px;
  font-size: 20px;
  margin-right: 5rem;
}

.container-2 {
  display: flex;
  margin-top: 10rem;
  height: 600px;
  width: 1110px;
}

.pink {
  position: absolute;
  z-index: 5;
  height: 625px;
  width: 446px;
  margin-left: 35rem;
  margin-top: 6rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fcfaf9;
  background-color: #fa7453;
  border-radius: 20px;
}

.pink h2 {
  font-size: 40px;
  line-height: 52px;
  margin-left: 3rem;
}

.pink p {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin: 0 auto;
  width: 75%;
  font-weight: lighter;
}

.pink strong {
  font-size: 60px;
}

.img-1 {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 600px;
  padding-left: 7rem;
  padding-bottom: 120rem;
}

.colors-2 {
  overflow: hidden;
  position: relative;
  background-color: #191826;
  align-items: center;
  height: 600px;
  width: 1110px;
  padding-left: 20rem;
  padding-right: 0rem;
  border-radius: 3%;
}

.button-1 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 auto;
}
.ios {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191826;
  padding: 1rem 2rem;
  width: 60%;
  margin: 0 auto;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.android {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfaf9;
  margin: 0 auto;
  padding: 1rem 2rem;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
}

.ios a {
  text-decoration: none;
  color: #fcfaf9;
}

.android a {
  text-decoration: none;
  color: #191826;
}

.ios:hover {
  background: #66e2dc;
}

.android:hover {
  background: #ffb964;
}

footer {
  font-family: "IBM Plex Sans", sans-serif;
}

.container-2 {
  display: flex;
  position: relative;
  padding-top: 1rem;
}

.words-3 {
  display: flex;
  width: 30%;
  margin-left: 5rem;
  font-size: 16px;
  line-height: 26px;
  font-weight: 375;
  padding-left: 5rem;
}

.icons {
  padding-left: 10rem;
  display: inline-flex;
  margin-left: 5rem;
}

.icon-1 {
  padding-right: 1.5rem;
}

.icon-2 {
  padding-right: 1.5rem;
}
